/* ==================================================== */
/* Generic styles */
/* Add your global styles */
/* ==================================================== */

body {
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  text-align: left;
  background-color: #fff;
  line-height: 1.8;
}

@media print {
  pre {
    border: none;
  }
}

.blur {
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter);
  -webkit-filter: blur(3px);
  filter: blur(3px);
  height: 100%;
  background-color: rgba(132, 172, 205, .65);
}

.blur-svg {
  display: none;
}

h2, .h2 {
  font-size: 1.875rem;
  font-weight: 400;
}

h4, .h4 {
  font-size: 1.125rem;
  font-weight: bold;
}

.text-primary, .list-wrapper .completed .remove {
  color: #3c4876 !important;
}

.swal2-container.swal2-shown {
  background-color: rgba(132, 172, 205, .65)!important;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #4d4d4d;
  z-index: 2;
}

.loader .text {
  display: block;
  width: 150px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d0d0d0;
}

.custom-file-label {
  overflow: hidden;
}

.invoice-container {
  min-height: 60vh;
  max-height: 75vh;
  overflow-y: auto;
}

.invoice-content {
  max-height: 35vh;
  height: 35vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.card-img-top {
  width: 100%;
  height: 5vw;
  object-fit: contain;
}

.border-3 {
  border-width: 3px !important;
}

.border-2 {
  border-width: 2px !important;
}

.border-1 {
  border-width: 1px !important;
}

.display-5 {
  font-size: 1.45rem;
}

.display-6 {
  font-size: 1.245rem;
}

.cursor-pointer {
  cursor: pointer;
}

.pwa-prompt {
  position: fixed;
  display: none;
  flex-direction: column;
  z-index: 1000;
  width: 100%;
  background-color: #3c4876;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  bottom: 1rem;
}

.ath-banner-cell-2x, .ath-banner-cell {
  width: 70px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ath-banner-cell-2x {
  width: 120px;
}

@media (min-width: 576px) {
  .ath-banner-cell {
    width: 90px;
    margin: 3px;
  }
}

@media(min-width: 768px) {
  .ath-banner-cell-2x, .ath-banner-cell {
    width: 120px;
  }
  .ath-banner-cell-2x {
    width: 160px;
  }
}

@media (min-width: 992px) {
  .banner-bottom-center {
    width: 60%;
    left: 20%;
  }
  .pwa-prompt img {
    left: 15%;
  }
}

.pwa-prompt p {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 1.1em;
}

.app-popup-graphic.info {
  background-color: #243a5e;
}

.app-popup-graphic.error {
  background-color: #990404;
}

.app-popup-graphic.warning {
  background-color: #c28503;
}

.app-popup-graphic.success {
  background-color: #398002;
}

.app-popup-graphic {
  position: relative;
  width: 240px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 6px 0 0 6px;
}

.app-popup-graphic-image {
  left: 24px;
  right: 24px;
  top: 36px;
  bottom: 36px;
  background-size: contain;
  background-position: center 40%;
  position: absolute;
  background-repeat: no-repeat;
}

.app-popup-content {
  height: 100%;
  /* padding: 7rem 0rem; */
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
  width: 100%;
  position: relative;
}

.app-popup.app-popup-confirm-show .app-popup-confirm {
  visibility: visible;
  opacity: 1;
  transition: opacity .2s;
}

.app-popup-confirm {
  padding: 3rem 2rem;
}

.app-popup.app-popup-confirm-show .app-popup-confirm .app-popup-confirm-content {
  opacity: 1;
  transition: opacity .3s cubic-bezier(.165, .84, .44, 1) .2s, transform .3s cubic-bezier(.165, .84, .44, 1) .2s;
  transform: translate(0, -45%);
}

.swal2-content {
  width: 100%;
}

.swal2-popup-compose {
  width: 50rem;
  padding: 0!important;
}

.swal2-header-compose {
  height: 0!important;
}

.swal2-popup .swal2-close {
  z-index: 2;
}

.jumbotron{
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron-heading {
  font-weight: 300;
}

.flex-grow {
  flex-grow: 1;
}

.error-page h1 {
  font-size: 12rem;
}

.bg-primary{
  background-color: #3c4876 !important;
}

.btn-primary {
  -webkit-box-shadow: 0 2px 2px 0 rgba(60, 72, 118, 0.14), 0 3px 1px -2px rgba(60, 72, 118, 0.2), 0 1px 5px 0 rgba(60, 72, 118, 0.12);
  box-shadow: 0 2px 2px 0 rgba(60, 72, 118, 0.14), 0 3px 1px -2px rgba(60, 72, 118, 0.2), 0 1px 5px 0 rgba(60, 72, 118, 0.12);
  color: #fff;
  background-color: #3c4876;
  border-color: #3c4876;
  font-size: 0.875rem;
}

.btn-primary:hover {
  color: #fff;
  background-color: #2f395d;
  border-color: #2b3354;
}

.hero-wrap {
  width: 100%;
  min-height: 75vh;
  position: relative;
  background-image: url('/assets/img/bg.jpeg');
}

.hero-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 68%;
  content: '';
  opacity: .3;
  background: #032287;
  background: -moz-linear-gradient(45deg, #032287 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #032287), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(45deg, #032287 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(45deg, #032287 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(45deg, #032287 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(45deg, #032287 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#032287', endColorstr='#ffffff', GradientType=1);
}

@media (max-width: 991.98px) {
  .hero-wrap .overlay {
    width: 100%;
  }
}

.hero-wrap .slider-text {
  color: #fff;
}

.hero-wrap .slider-text .breadcrumbs {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  z-index: 99;
  font-weight: 400;
  letter-spacing: 4px;
}

.hero-wrap .slider-text .breadcrumbs span {
  color: rgba(0, 0, 0, 0.7);
}

.hero-wrap .slider-text .breadcrumbs span a {
  color: #000;
}

.hero-wrap .slider-text h1 {
  font-size: 80px;
  color: #000;
  font-weight: 200;
}

.hero-wrap .slider-text h1 span {
  color: #000;
}

.hero-wrap .slider-text h2 {
  font-weight: 200;
}

.hero-wrap .slider-text .typewrite>.wrap {
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.hero-wrap .slider-text .bread {
  font-size: 70px;
  color: #000;
  line-height: 1.2;
  font-weight: 200;
}

@media (max-width: 991.98px) {
  .hero-wrap .slider-text .bread {
    font-size: 60px;
  }
}

.hero-wrap .slider-text .btn-primary {
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}

.hero-wrap .slider-text .btn-primary:hover,
.hero-wrap .slider-text .btn-primary:focus {
  background: #fff !important;
  color: #000;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

.ftco-section {
  padding: 7em 0;
  position: relative;
}

@media (max-width: 767.98px) {
  .ftco-section {
    padding: 6em 0;
  }
}

.ftco-bg-dark {
  background: #090808;
}

.ftco-footer {
  font-size: 16px;
  padding: 4em 0;
  background: rgb(3, 34, 135);
}

.ftco-footer h1.logo {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}

.ftco-footer h2.location {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
}

.ftco-footer .ftco-footer-widget ul li a span {
  color: #fff;
}

.ftco-footer p {
  color: rgba(255, 255, 255, 0.7);
}

.ftco-footer a {
  color: rgba(255, 255, 255, 0.7);
}

.ftco-footer a:hover {
  color: #fff;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}

.ftco-footer-social li a {
  height: 50px;
  width: 50px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  position: relative;
}

.ftco-footer-social li a span {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
  color: #fff;
}

.hero-wrap,
.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 767.98px) {
  .img-about {
    height: 400px;
    margin-bottom: 30px;
  }
}

.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 0;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light {
    background: #000 !important;
    position: relative;
    top: 0;
    padding: 10px 15px;
  }
}

.ftco-navbar-light .navbar-brand {
  color: #000;
}

.ftco-navbar-light .navbar-brand span {
  color: #032287;
  font-size: 28px;
}

.ftco-navbar-light .navbar-brand:hover,
.ftco-navbar-light .navbar-brand:focus {
  color: #000;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-brand {
    color: #fff;
  }
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav {
    padding-bottom: 10px;
  }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
  font-size: 14px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 300;
  color: #000;
  opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
  color: #000;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-top: .9rem;
    padding-bottom: .9rem;
    color: rgba(255, 255, 255, 0.7);
  }

  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
    color: #fff;
  }
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu {
  border: none;
  background: #fff;
  -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item {
  font-size: 14px;
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:hover,
.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:focus {
  background: transparent;
  color: #000;
}

.ftco-navbar-light .navbar-nav>.nav-item.ftco-seperator {
  position: relative;
  margin-left: 20px;
  padding-left: 20px;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item.ftco-seperator {
    padding-left: 0;
    margin-left: 0;
  }
}

.ftco-navbar-light .navbar-nav>.nav-item.ftco-seperator:before {
  position: absolute;
  content: "";
  top: 10px;
  bottom: 10px;
  left: 0;
  width: 2px;
  background: rgba(255, 255, 255, 0.05);
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item.ftco-seperator:before {
    display: none;
  }
}

.ftco-navbar-light .navbar-nav>.nav-item.cta>a {
  color: #000;
}

@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    color: #fff;
    background: #032287;
  }
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a {
  color: #032287;
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a:after {
  opacity: 1;
  background: #032287;
}

.ftco-navbar-light .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.5) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em;
}

.ftco-navbar-light .navbar-toggler:focus {
  outline: none !important;
}

.ftco-navbar-light.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
  background: #fff !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.ftco-navbar-light.scrolled .nav-item.active>a {
  color: #032287 !important;
}

.ftco-navbar-light.scrolled .nav-item.cta>a {
  color: #fff !important;
  background: #032287;
  border: none !important;
}

.ftco-navbar-light.scrolled .nav-item.cta>a span {
  display: inline-block;
  color: #fff !important;
}

.ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
  border-color: #032287;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light.scrolled .navbar-nav {
    background: none;
    border-radius: 0px;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}

@media (max-width: 767.98px) {
  .ftco-navbar-light.scrolled .navbar-nav {
    background: none;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.ftco-navbar-light.scrolled .navbar-toggler {
  border: none;
  color: rgba(0, 0, 0, 0.5) !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em;
}

.ftco-navbar-light.scrolled .nav-link {
  padding-top: 0.9rem !important;
  padding-bottom: 0.9rem !important;
  color: #000 !important;
}

.ftco-navbar-light.scrolled .nav-link.active {
  color: #032287 !important;
}

.ftco-navbar-light.scrolled.awake {
  margin-top: 0px;
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.ftco-navbar-light.scrolled.sleep {
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.ftco-navbar-light.scrolled .navbar-brand {
  color: #000;
}

.navbar-brand {
  font-weight: 300;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000;
}

#loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

/* === Landing screens === */

/* Auth */

.register-bg {
  background-image: url('/img/auth/register-bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.auth .login-half-bg {
  background: url("/img/auth/login-bg.jpg");
  background-image: -webkit-image-set(url('/img/auth/login-bg.webp')1x);
  background-size: cover;
}

.auth .register-half-bg {
  background: url("/private/dashboard/images/auth/register-bg.jpg");
  background-image: -webkit-image-set(url('/img/auth/register-bg.webp')1x);
  background-size: cover;
}

.auth.lock-full-bg {
  background: url("/private/dashboard/images/auth/lockscreen-bg.jpg");
  background-size: cover;
}

.auth .lock-profile-img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

.auth .auth-form-light {
  background: #ffffff;
}

.auth .auth-form-light select {
  color: #c9c8c8;
}

.auth .auth-form-light .input-group .form-control:focus, .auth .auth-form-light .asColorPicker-wrap .form-control:focus, .auth .auth-form-light .input-group .asColorPicker-input:focus, .auth .auth-form-light .asColorPicker-wrap .asColorPicker-input:focus, .auth .auth-form-light .input-group .dataTables_wrapper select:focus, .dataTables_wrapper .auth .auth-form-light .input-group select:focus, .auth .auth-form-light .asColorPicker-wrap .dataTables_wrapper select:focus, .dataTables_wrapper .auth .auth-form-light .asColorPicker-wrap select:focus, .auth .auth-form-light .input-group .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text]:focus, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .input-group input[type=text]:focus, .auth .auth-form-light .asColorPicker-wrap .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text]:focus, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .asColorPicker-wrap input[type=text]:focus, .auth .auth-form-light .input-group .jsgrid .jsgrid-table .jsgrid-filter-row select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .input-group select:focus, .auth .auth-form-light .asColorPicker-wrap .jsgrid .jsgrid-table .jsgrid-filter-row select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .asColorPicker-wrap select:focus, .auth .auth-form-light .input-group .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number]:focus, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .input-group input[type=number]:focus, .auth .auth-form-light .asColorPicker-wrap .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number]:focus, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .asColorPicker-wrap input[type=number]:focus, .auth .auth-form-light .input-group .select2-container--default .select2-selection--single:focus, .select2-container--default .auth .auth-form-light .input-group .select2-selection--single:focus, .auth .auth-form-light .asColorPicker-wrap .select2-container--default .select2-selection--single:focus, .select2-container--default .auth .auth-form-light .asColorPicker-wrap .select2-selection--single:focus, .auth .auth-form-light .input-group .select2-container--default .select2-selection--single .select2-search__field:focus, .select2-container--default .select2-selection--single .auth .auth-form-light .input-group .select2-search__field:focus, .auth .auth-form-light .asColorPicker-wrap .select2-container--default .select2-selection--single .select2-search__field:focus, .select2-container--default .select2-selection--single .auth .auth-form-light .asColorPicker-wrap .select2-search__field:focus, .auth .auth-form-light .input-group .typeahead:focus, .auth .auth-form-light .asColorPicker-wrap .typeahead:focus, .auth .auth-form-light .input-group .tt-query:focus, .auth .auth-form-light .asColorPicker-wrap .tt-query:focus, .auth .auth-form-light .input-group .tt-hint:focus, .auth .auth-form-light .asColorPicker-wrap .tt-hint:focus, .auth .auth-form-light .input-group .form-control:active, .auth .auth-form-light .asColorPicker-wrap .form-control:active, .auth .auth-form-light .input-group .asColorPicker-input:active, .auth .auth-form-light .asColorPicker-wrap .asColorPicker-input:active, .auth .auth-form-light .input-group .dataTables_wrapper select:active, .dataTables_wrapper .auth .auth-form-light .input-group select:active, .auth .auth-form-light .asColorPicker-wrap .dataTables_wrapper select:active, .dataTables_wrapper .auth .auth-form-light .asColorPicker-wrap select:active, .auth .auth-form-light .input-group .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text]:active, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .input-group input[type=text]:active, .auth .auth-form-light .asColorPicker-wrap .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text]:active, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .asColorPicker-wrap input[type=text]:active, .auth .auth-form-light .input-group .jsgrid .jsgrid-table .jsgrid-filter-row select:active, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .input-group select:active, .auth .auth-form-light .asColorPicker-wrap .jsgrid .jsgrid-table .jsgrid-filter-row select:active, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .asColorPicker-wrap select:active, .auth .auth-form-light .input-group .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number]:active, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .input-group input[type=number]:active, .auth .auth-form-light .asColorPicker-wrap .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number]:active, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .asColorPicker-wrap input[type=number]:active, .auth .auth-form-light .input-group .select2-container--default .select2-selection--single:active, .select2-container--default .auth .auth-form-light .input-group .select2-selection--single:active, .auth .auth-form-light .asColorPicker-wrap .select2-container--default .select2-selection--single:active, .select2-container--default .auth .auth-form-light .asColorPicker-wrap .select2-selection--single:active, .auth .auth-form-light .input-group .select2-container--default .select2-selection--single .select2-search__field:active, .select2-container--default .select2-selection--single .auth .auth-form-light .input-group .select2-search__field:active, .auth .auth-form-light .asColorPicker-wrap .select2-container--default .select2-selection--single .select2-search__field:active, .select2-container--default .select2-selection--single .auth .auth-form-light .asColorPicker-wrap .select2-search__field:active, .auth .auth-form-light .input-group .typeahead:active, .auth .auth-form-light .asColorPicker-wrap .typeahead:active, .auth .auth-form-light .input-group .tt-query:active, .auth .auth-form-light .asColorPicker-wrap .tt-query:active, .auth .auth-form-light .input-group .tt-hint:active, .auth .auth-form-light .asColorPicker-wrap .tt-hint:active {
  border-color: #e9e8ef;
}

.auth .auth-form-transparent {
  background: transparent;
}

.auth .auth-form-transparent .form-control, .auth .auth-form-transparent .asColorPicker-input, .auth .auth-form-transparent .dataTables_wrapper select, .dataTables_wrapper .auth .auth-form-transparent select, .auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent input[type=text], .auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent select, .auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent input[type=number], .auth .auth-form-transparent .select2-container--default .select2-selection--single, .select2-container--default .auth .auth-form-transparent .select2-selection--single, .auth .auth-form-transparent .select2-container--default .select2-selection--single .select2-search__field, .select2-container--default .select2-selection--single .auth .auth-form-transparent .select2-search__field, .auth .auth-form-transparent .typeahead, .auth .auth-form-transparent .tt-query, .auth .auth-form-transparent .tt-hint, .auth .auth-form-transparent .input-group-text {
  border-color: #dfe3e9;
}

.auth .auth-form-transparent .form-control:focus, .auth .auth-form-transparent .asColorPicker-input:focus, .auth .auth-form-transparent .dataTables_wrapper select:focus, .dataTables_wrapper .auth .auth-form-transparent select:focus, .auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text]:focus, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent input[type=text]:focus, .auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent select:focus, .auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number]:focus, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent input[type=number]:focus, .auth .auth-form-transparent .select2-container--default .select2-selection--single:focus, .select2-container--default .auth .auth-form-transparent .select2-selection--single:focus, .auth .auth-form-transparent .select2-container--default .select2-selection--single .select2-search__field:focus, .select2-container--default .select2-selection--single .auth .auth-form-transparent .select2-search__field:focus, .auth .auth-form-transparent .typeahead:focus, .auth .auth-form-transparent .tt-query:focus, .auth .auth-form-transparent .tt-hint:focus, .auth .auth-form-transparent .form-control:active, .auth .auth-form-transparent .asColorPicker-input:active, .auth .auth-form-transparent .dataTables_wrapper select:active, .dataTables_wrapper .auth .auth-form-transparent select:active, .auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text]:active, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent input[type=text]:active, .auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row select:active, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent select:active, .auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number]:active, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent input[type=number]:active, .auth .auth-form-transparent .select2-container--default .select2-selection--single:active, .select2-container--default .auth .auth-form-transparent .select2-selection--single:active, .auth .auth-form-transparent .select2-container--default .select2-selection--single .select2-search__field:active, .select2-container--default .select2-selection--single .auth .auth-form-transparent .select2-search__field:active, .auth .auth-form-transparent .typeahead:active, .auth .auth-form-transparent .tt-query:active, .auth .auth-form-transparent .tt-hint:active, .auth .auth-form-transparent .input-group-text:focus, .auth .auth-form-transparent .input-group-text:active {
  border-color: #dfe3e9;
}

.auth .auth-form-transparent select {
  outline-color: #dfe3e9;
}

.auth.auth-img-bg {
  padding: 0;
}

@media (min-width: 768px) {
  .auth.auth-img-bg .auth-form-transparent {
    width: 65%;
    margin: auto;
  }
}

.auth .brand-logo {
  margin-bottom: 1rem;
}

.auth .brand-logo img {
  width: 100px;
}

.auth form .form-group {
  margin-bottom: 1.5rem;
}

.auth form .form-group label {
  font-size: .8125rem;
}

.auth form .form-group .form-control, .auth form .form-group .asColorPicker-input, .auth form .form-group .dataTables_wrapper select, .dataTables_wrapper .auth form .form-group select, .auth form .form-group .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row .auth form .form-group input[type=text], .auth form .form-group .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row .auth form .form-group select, .auth form .form-group .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .jsgrid .jsgrid-table .jsgrid-filter-row .auth form .form-group input[type=number], .auth form .form-group .select2-container--default .select2-selection--single, .select2-container--default .auth form .form-group .select2-selection--single, .auth form .form-group .select2-container--default .select2-selection--single .select2-search__field, .select2-container--default .select2-selection--single .auth form .form-group .select2-search__field, .auth form .form-group .typeahead, .auth form .form-group .tt-query, .auth form .form-group .tt-hint {
  background: transparent;
  border-radius: 0;
  font-size: .9375rem;
}

.auth form .auth-form-btn {
  height: 50px;
  line-height: 1.5;
}

.auth form .auth-link {
  font-size: 0.875rem;
}

.auth form .auth-link:hover {
  color: initial;
}

.page-body-wrapper {
  min-height: calc(100vh - 69px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  padding-top: 69px;
}

.page-body-wrapper.full-page-wrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 0;
}

.main-panel {
  width: calc(100% - 220px);
}

.main-panel-external {
  width: calc(100%);
}

.main-panel-external, .main-panel {
  background: #f3f3f3;
  transition: width 0.25s ease, margin 0.25s ease;
  min-height: calc(100vh - 69px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-image: url(/private/img/dashboard-upsell-bg-v1.svg);
}

@media (max-width: 991px) {
  .main-panel-external, .main-panel {
    margin-left: 0;
    width: 100%;
  }
}

.content-wrapper {
  /* background: #F7F7FA; */
  padding: 1.5rem;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.error-message {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}